	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Upload</title>
	</head>
	<body>
		<a href="http://localhost:3000/cakes">CAKES</a></br>
		<a href="http://localhost:3000/cupcakes"/>CUPCAKES</a></br>
		<a href="http://localhost:3000/macarons">MACARONS</a></br>
		<a href="http://localhost:3000/cookies">COOKIES</a>
	</body>
	</html>