<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo ReactJs</title>
	<script src="lib/react.js"></script>
	<script src="lib/react-dom.js"></script>
	<script src="lib/browser.min.js"></script>
</head>
<style>
	.tomau{
		background-color: yellow;
	}
</style>
<body>
	<div id="root"></div>
	<script src="xuly.js" type="text/babel">
	</script>
</body>
</html>